CLIENT_URL=http:localhost:<frontend_port>
PORT=4001
NODE_ENV=development
MONGO_URL=mongodb://localhost:27017/<db_name>
REDIS_URL=redis://127.0.0.1:<redis_port>/0

# JWT configs
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_SECRET_REFRESH=
JWT_EXPIRES_IN_REFRESH=

# Mail configs
MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM_NAME=
MAIL_FROM_EMAIL=

RESET_SECRET=